<settings>
<category label="General Settings">
	<setting id="ga_time" type="text" label="30101" default="2000-01-01 00:00:00" visible="false"/>
    <setting id="ga_visitor" type="text" label="30102" default="" visible="false"/>
    <setting id="enable_meta" type="bool" label="30103" values="True|False" default="true"/>
    <!<setting id="list_alphabetically" type="bool" label="30104" default="true"/>>
</category>
<category label="Auto-View">
	<setting id="auto-view" type="bool" label="30105" default="true"/>
	<setting id="default" type="number" label="30106" default="50" enable="!eq(-1,false)"/>
	<setting id="anything" type="number" label="30107" default="503" enable="!eq(-1,false)"/>
    <setting id="season" type="number" label="30109" default="508" enable="!eq(-1,false)"/>
    <setting id="hoster" type="number" label="30108" default="508" enable="!eq(-1,false)"/>
</category>

<!<category label="Downloads">>
    <!<setting id="download-folder" type="folder" label="30300" default=""/>>
    <!<setting id="use-special-structure" type="bool" label="30301" default="true"/>>
   <! <setting id="delete-incomplete-downloads" type="bool" label="30302" default="true"/>>
    <!-- In Background -->
    <!<setting type="sep" />>
   <!<setting id="download-in-background" type="bool" label="30303" default="true" />>
    <!<setting id="notify-percent" enable="eq(-1,true)" label="30304" type="enum" values="2[B] %[/B]|5[B] %[/B]|10[B] %[/B]|20[B] %[/B]|25[B] %[/B]|50[B] %[/B]|100[B] %[/B]" default="2" />>
<!</category>>

<category label="Account Details">
    <setting id="enablelogin" type="bool" label="30307" default="true"/>
    <setting id="username" type="text" label="30305" default="" enable="!eq(-1,false)" visible="true"/>
    <setting id="password" type="text" label="30306" default="" option="hidden" enable="!eq(-2,false)" visible="true"/>
</category>
</settings>
    