<settings>
	<category label="Meta-Data">
		<setting id="metadata" type="bool" label="Enable Metahandlers " default="true"/>
			<setting id="banners" type="bool" label="Prefer Banners For TV Shows" default="false" enable="!eq(-1,false)"/>
	</category>

	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Autoview" default="false"/>
		<setting id="movies-view" type="number" label="Movies View" 				default="503" enable="!eq(-1,false)"/>
      	<setting id="shows-view" type="number" label="TV Shows View" 				default="503" enable="!eq(-2,false)"/>
		<setting id="episodes-view" type="number" label="Episodes 					View" default="503" enable="!eq(-3,false)"/>
		<setting id="default-view" type="number" label="Default 					View" default="50" enable="!eq(-4,false)"/>
    </category>

   <category label="Enable / Disable Sites">
     <setting id="mooviemaniac" type="bool" label="MoovieManiac" default="true"/>
     <setting id="newmyvideolinks" type="bool" label="NewMyVideoLinks" default="true"/>
     <setting id="freemoviesaddict" type="bool" label="FreeMoviesAddict" default="true"/>
     <setting id="zmovie" type="bool" label="Watch-Movies / Z-Movie" default="true"/>
     <setting id="wwmf" type="bool" label="WeWatchMoviesFree" default="true"/>
     <setting id="videocloud" type="bool" label="VideoCloud" default="true"/>
     <setting id="wsoeu" type="bool" label="WatchSeries-Online" default="true"/>
     <setting id="youtubedocs" type="bool" label="Youtube Documentaries" default="true"/>
	<setting id="iwatchonline" type="bool" label="I-WatchOnline" default="true"/>
	<setting id="tvrelease" type="bool" label="TV Release" default="true"/>
	<setting id="channelcut" type="bool" label="Channel Cut" default="true"/>
	<setting id="cartoonfreak" type="bool" label="Cartoon Freak" default="true"/>
	<setting id="gogoanime" type="bool" label="GoGo Anime" default="true"/>
     	<setting id="mmline" type="bool" label="MegaMovieLine" default="true"/>
 	<setting id="fullepisode" type="bool" label="FullEpisode.info" default="true"/>


   </category>

   <category label="Enable / Disable Sections">
     <setting id="adult" type="bool" label="Adult" default="false"/>
     <setting id="movies" type="bool" label="Movies" default="true"/>
     <setting id="shows" type="bool" label="TV Shows" default="true"/>
     <setting id="docs" type="bool" label="Documentaries" default="true"/>
     <setting id="search" type="bool" label="VideoPhile Search" default="true"/>
     <setting id="resolver" type="bool" label="Resolver Settings" default="true"/>
     <setting id="hdmovies" type="bool" label="HD Movies" default="true"/>
     <setting id="cartoons" type="bool" label="Cartoons" default="true"/>
     <setting id="anime" type="bool" label="Anime" default="true"/>
     <setting id="favorites" type="bool" label="Favorites" default="true"/>
   </category>
   

</settings>

